{%extends 'layout.html'%}

{%block content%}

<h1>AIRLINES</h1>

<table>
    <tr>
        <th>NAME</th>
        <th>CALLSIGN</th>
        <th>FOUNDED YEAR</th>
        <th>BASE AIRPORT</th>
        <th></th>
        <th></th>
    </tr>
    {% for airline in airlines %}
    <tr>
        <td>{{airline.name}}</td>
        <td>{{airline.callsign}}</td>
        <td>{{airline.founded_year}}</td>
        <td>{{airline.base_airport}}</td>
        <td><a href="/airline-delete/{{airline.id}}">Delete</a></td>
        <td><a href="/airline-update/{{airline.id}}">Edit</a></td>
        <td><a href="/airline/{{airline.id}}">View</a></td>
    </tr>
    {% endfor %}
</table>

{%endblock content%}